# ENVIRONMENT
ENVIRONMENT=development

# Frontend config
FRONTEND_URL=http://localhost:3000

# Configuration
POSTGRES_DB=swaphubu_db
POSTGRES_USER=swaphubu_user
POSTGRES_PASSWORD=swaphubu_password
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

# pgAdmin Configuration
PGADMIN_EMAIL=admin@swaphubu.com
PGADMIN_PASSWORD=admin123

# Application Configuration
ENVIRONMENT=development

# Email Configuration
MAIL_USERNAME=tt4391825@gmail.com
MAIL_PASSWORD=ljbhjuctjystkbxz
MAIL_FROM=noreply@swaphubu.com
MAIL_FROM_NAME=Swaphubu
MAIL_PORT=587
MAIL_SERVER=smtp.gmail.com
MAIL_STARTTLS=1
MAIL_SSL_TLS=0
USE_CREDENTIALS=1
VALIDATE_CERTS=1

#shufti pro
SHUFTI_CLIENT_ID="Client ID get it from the dashboard"
SHUFTI_SECRET_KEY="Secret Key generated on the dashboard"
CALLBACK_URL="for development generated with ngrok will be changed in production"
SHUFTI_BASE_URL=https://api.shuftipro.com
VERIFICATION_TTL=43200
WEBHOOK_TIMEOUT=30
MAX_VERIFICATION_ATTEMPTS=3
DEBUG_MODE=True


#Default Admin User (Optional - will use defaults if not set)
DEFAULT_ADMIN_EMAIL=admin@swaphubu.com
DEFAULT_ADMIN_PASSWORD=admin123
