# FastAPI and related dependencies
fastapi==0.115.13
uvicorn==0.34.3
pydantic==2.11.7
email-validator==2.1.2

# Database dependencies
sqlalchemy==2.0.41
alembic==1.16.2
psycopg2-binary==2.9.10

# Environment variables
python-dotenv==1.1.0

# Security and encryption
cryptography==45.0.4
python-jose[cryptography]==3.3.0
bcrypt==4.1.2

# Email functionality
fastapi-mail==1.4.1

# Additional utilities
httpx==0.28.1  # For testing HTTP requests
pytest==8.4.1  # For testing
pytest-asyncio==1.0.0  # For async testing
jsons==1.6.3


#creating fake user
faker>=37.3.0